<app-parent></app-parent>
<div class="center-content">
  <button mat-stroked-button color="primary" type="button" (click)="signOut()">
    <mat-icon>exit_to_app</mat-icon>
    Sign out
  </button>
  <button mat-flat-button color="warn" type="button" (click)="delete()">
    <mat-icon>delete</mat-icon>
    Delete account
  </button>
</div>
