<div class="horizontal-center">
  <mat-card *ngFor="let booking of bookings">
    <mat-card-title>
      {{ getLocation(getSession(booking.parentDocumentId!).locationId).name }}
    </mat-card-title>
    <mat-card-subtitle>
      {{ getSession(booking.parentDocumentId!).startDate | date }} –
      {{ getSession(booking.parentDocumentId!).endDate | date }}
    </mat-card-subtitle>
    <mat-card-content>
      <div [ngSwitch]="booking.data.campType">
        <p *ngSwitchCase="'DayCamp'">Day camp</p>
        <p *ngSwitchCase="'OvernightCamp'">Overnight camp</p>
      </div>
      <p>{{ getChild(booking.data.childId).name }}</p>
    </mat-card-content>
    <mat-card-actions>
      <button
        mat-flat-button
        color="warn"
        (click)="delete(booking.parentDocumentId!, booking.id)"
      >
        <mat-icon>delete</mat-icon>
        Delete
      </button>
    </mat-card-actions>
  </mat-card>
</div>
<button mat-mini-fab color="primary" class="fab" (click)="add()">
  <mat-icon>add</mat-icon>
</button>
