mat-form-field {
  width: 100%;
}

input.number-input::-webkit-outer-spin-button,
input.number-input::-webkit-inner-spin-button {
  display: none;
}

input.number-input {
  -moz-appearance: textfield;
}
