<h1 mat-dialog-title>Add Booking</h1>
<div mat-dialog-content>
  <form [formGroup]="form">
    <mat-form-field appearance="outline">
      <mat-label>Session</mat-label>
      <mat-select formControlName="sessionId" required>
        <mat-option *ngFor="let session of sessions" [value]="session.id">
          {{session.data.startDate | date}} – {{session.data.endDate | date}}
          {{getLocation(session.data.locationId).name}}
        </mat-option>
      </mat-select>
      <mat-error *ngIf="form.controls.sessionId.hasError('required')">
        Session is <strong>required</strong>
      </mat-error>
    </mat-form-field>
    <mat-form-field appearance="outline">
      <mat-label>Child</mat-label>
      <mat-select formControlName="childId" required>
        <mat-option *ngFor="let child of children" [value]="child.id">
          {{child.data.name}}
        </mat-option>
      </mat-select>
      <mat-error *ngIf="form.controls.childId.hasError('required')">
        Child is <strong>required</strong>
      </mat-error>
    </mat-form-field>
    <mat-form-field appearance="outline">
      <mat-label>Camp type</mat-label>
      <mat-select formControlName="campType" required>
        <mat-option *ngFor="let campType of campTypes" [value]="campType">
          <div [ngSwitch]="campType">
            <div *ngSwitchCase="'DayCamp'">Day camp</div>
            <div *ngSwitchCase="'OvernightCamp'">Overnight camp</div>
          </div>
        </mat-option>
      </mat-select>
      <mat-error *ngIf="form.controls.campType.hasError('required')">
        Camp type is <strong>required</strong>
      </mat-error>
    </mat-form-field>
  </form>
</div>
<div mat-dialog-actions>
  <button mat-stroked-button color="primary" (click)="cancel()">Cancel</button>
  <button
    mat-flat-button
    color="primary"
    (click)="save()"
    [disabled]="!form.valid"
  >
    Save
  </button>
</div>
