<div *ngIf="isSignedIn | async; then signedIn; else notSignedIn"></div>
<ng-template #signedIn>
  <mat-stepper
    class="full-height"
    [orientation]="(stepperOrientation | async)!"
  >
    <mat-step label="Fill out your data">
      <app-parent></app-parent>
      <div class="center">
        <button
          mat-flat-button
          color="primary"
          class="wide-button"
          matStepperNext
        >
          Next
        </button>
      </div>
    </mat-step>
    <mat-step label="Add children">
      <app-children></app-children>
      <div class="center">
        <button
          mat-flat-button
          color="primary"
          class="wide-button"
          matStepperNext
        >
          Next
        </button>
      </div>
    </mat-step>
    <mat-step label="Book now!">
      <app-booking></app-booking>
      <div class="center">
        <button
          mat-flat-button
          color="primary"
          class="wide-button"
          routerLink="/home"
        >
          Done
        </button>
      </div>
    </mat-step>
  </mat-stepper>
</ng-template>
<ng-template #notSignedIn>
  <div class="full-height center">
    <h3>You have to sign in first!</h3>
    <button
      class="wide-button"
      mat-stroked-button
      color="primary"
      routerLink="/sign-in"
    >
      <mat-icon>account_circle</mat-icon>
      Sign in
    </button>
  </div>
</ng-template>
