.center {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.full-height {
  min-height: calc(100% - 64px);
}

.wide-button {
  width: min(500px, calc(100% - 20px));
}

button {
  margin: 10px;
}
