<mat-drawer-container class="drawer-container">
  <mat-drawer #drawer class="drawer">
    <mat-nav-list>
      <a mat-list-item routerLink="/home" (click)="drawer.toggle()"> Home </a>
      <a mat-list-item routerLink="/bookings" (click)="drawer.toggle()">
        Bookings
      </a>
      <a
        *ngIf="isSignedIn | async"
        mat-list-item
        routerLink="/children"
        (click)="drawer.toggle()"
      >
        Children
      </a>
      <a
        *ngIf="isAdmin | async"
        mat-list-item
        routerLink="/locations"
        (click)="drawer.toggle()"
      >
        Locations
      </a>
      <a
        *ngIf="isAdmin | async"
        mat-list-item
        routerLink="/sessions"
        (click)="drawer.toggle()"
      >
        Sessions
      </a>
    </mat-nav-list>
  </mat-drawer>
  <mat-drawer-content>
    <mat-toolbar color="primary">
      <div *ngIf="isSmall$ | async; then small; else notSmall"></div>
      <ng-template #small>
        <button mat-icon-button (click)="drawer.toggle()">
          <mat-icon>menu</mat-icon>
        </button>
        <ng-container [ngSwitch]="url$ | async">
          <div *ngSwitchCase="'/home'">Home</div>
          <div *ngSwitchCase="'/register'">Register</div>
          <div *ngSwitchCase="'/sign-in'">Sign in</div>
          <div *ngSwitchCase="'/profile'">Profile</div>
          <div *ngSwitchCase="'/locations'">Locations</div>
          <div *ngSwitchCase="'/sessions'">Sessions</div>
          <div *ngSwitchCase="'/children'">Children</div>
          <div *ngSwitchCase="'/bookings'">Bookings</div>
        </ng-container>
      </ng-template>
      <ng-template #notSmall>
        <span>
          <button mat-button routerLink="/home" routerLinkActive="active">
            Home
          </button>
          <button mat-button routerLink="/bookings" routerLinkActive="active">
            Bookings
          </button>
          <button
            *ngIf="isSignedIn | async"
            mat-button
            routerLink="/children"
            routerLinkActive="active"
          >
            Children
          </button>
          <button
            *ngIf="isAdmin | async"
            mat-button
            routerLink="/locations"
            routerLinkActive="active"
          >
            Locations
          </button>
          <button
            *ngIf="isAdmin | async"
            mat-button
            routerLink="/sessions"
            routerLinkActive="active"
          >
            Sessions
          </button>
        </span>
      </ng-template>
      <span class="spacer"></span>
      <ng-container *ngIf="isSignedIn | async; then signedIn; else notSignedIn">
      </ng-container>
      <ng-template #signedIn>
        <button mat-icon-button routerLink="/profile">
          <mat-icon>account_circle</mat-icon>
        </button>
      </ng-template>
      <ng-template #notSignedIn>
        <button mat-icon-button routerLink="/sign-in">
          <mat-icon>account_circle</mat-icon>
        </button>
      </ng-template>
    </mat-toolbar>
    <router-outlet></router-outlet>
  </mat-drawer-content>
</mat-drawer-container>
