.horizontal-center {
  margin: auto;
  width: min(500px, 100%);
}

mat-card {
  margin-top: 10px;
}

.fab {
  position: fixed;
  bottom: 20px;
  right: 20px;
  z-index: 1;
}

button {
  margin-right: 10px !important;
}
