<h1 mat-dialog-title>{{child ? "Edit " + child.name: "Add Child"}}</h1>
<div mat-dialog-content>
  <form [formGroup]="form">
    <mat-form-field appearance="outline">
      <mat-label>Name</mat-label>
      <input matInput formControlName="name" />
      <mat-error *ngIf="form.controls.name.hasError('required')">
        Name is <strong>required</strong>
      </mat-error>
    </mat-form-field>
    <mat-form-field appearance="outline">
      <mat-label>Date of Birth</mat-label>
      <input matInput [matDatepicker]="picker" formControlName="dateOfBirth" />
      <mat-hint>MM/DD/YYYY</mat-hint>
      <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
      <mat-datepicker #picker></mat-datepicker>
    </mat-form-field>
    <mat-form-field appearance="outline">
      <mat-label>Social Security Number</mat-label>
      <input
        matInput
        class="number-input"
        type="number"
        formControlName="socialSecurityNumber"
      />
      <mat-error
        *ngIf="form.controls.socialSecurityNumber.hasError('required')"
      >
        Social Security Number is <strong>required</strong>
      </mat-error>
    </mat-form-field>
    <p>
      <mat-checkbox formControlName="hasBeenAloneInCamp">
        Has Been Alone in Camp
      </mat-checkbox>
    </p>
    <p>
      <mat-checkbox formControlName="knowsSomeoneFromTheCamp">
        Knows Someone from the Camp
      </mat-checkbox>
    </p>
    <mat-form-field appearance="outline">
      <mat-label>Additional Personal Information</mat-label>
      <textarea
        matInput
        formControlName="additionalPersonalInformation"
      ></textarea>
    </mat-form-field>
  </form>
</div>
<div mat-dialog-actions>
  <button mat-stroked-button color="primary" (click)="cancel()">Cancel</button>
  <button
    mat-flat-button
    color="primary"
    [mat-dialog-close]="form.getRawValue()"
    [disabled]="!form.valid"
  >
    Save
  </button>
</div>
