<div class="horizontal-center">
  <mat-card *ngFor="let child of children">
    <mat-card-title>{{ child.data.name }}</mat-card-title>
    <mat-card-subtitle>
      {{ child.data.dateOfBirth | date }}
    </mat-card-subtitle>
    <mat-card-content>
      <p>Social Security Number: {{ child.data.socialSecurityNumber }}</p>
      <p>Has Been Alone in Camp: {{ child.data.hasBeenAloneInCamp }}</p>
      <p>
        Knows Someone from the Camp: {{ child.data.knowsSomeoneFromTheCamp }}
      </p>
      <p>
        Additional Personal Information:
        {{ child.data.additionalPersonalInformation }}
      </p>
    </mat-card-content>
    <mat-card-actions>
      <button mat-stroked-button color="primary" (click)="edit(child)">
        <mat-icon>edit</mat-icon>
        Edit
      </button>
      <button mat-flat-button color="warn" (click)="delete(child.id)">
        <mat-icon>delete</mat-icon>
        Delete
      </button>
    </mat-card-actions>
  </mat-card>
</div>
<button mat-mini-fab color="primary" class="fab" (click)="add()">
  <mat-icon>add</mat-icon>
</button>
