<table mat-table [dataSource]="bookings">
  <!-- Name Column -->
  <ng-container matColumnDef="name">
    <th mat-header-cell *matHeaderCellDef>Name</th>
    <td mat-cell *matCellDef="let booking">
      {{ getChild(booking.data.parentId, booking.data.childId)?.name }}
    </td>
  </ng-container>

  <!-- Date of Birth Column -->
  <ng-container matColumnDef="dateOfBirth">
    <th mat-header-cell *matHeaderCellDef>Date of Birth</th>
    <td mat-cell *matCellDef="let booking">
      {{
        getChild(booking.data.parentId, booking.data.childId)?.dateOfBirth
          | date
      }}
    </td>
  </ng-container>

  <!-- Social Security Number Column -->
  <ng-container matColumnDef="socialSecurityNumber">
    <th mat-header-cell *matHeaderCellDef>Social Security Number</th>
    <td mat-cell *matCellDef="let booking">
      {{
        getChild(booking.data.parentId, booking.data.childId)
          ?.socialSecurityNumber
      }}
    </td>
  </ng-container>

  <!-- Has Been Alone in Camp Column -->
  <ng-container matColumnDef="hasBeenAloneInCamp">
    <th mat-header-cell *matHeaderCellDef>Has Been Alone in Camp</th>
    <td mat-cell *matCellDef="let booking">
      {{
        getChild(booking.data.parentId, booking.data.childId)
          ?.hasBeenAloneInCamp
      }}
    </td>
  </ng-container>

  <!-- Knows Someone from the Camp Column -->
  <ng-container matColumnDef="knowsSomeoneFromTheCamp">
    <th mat-header-cell *matHeaderCellDef>Knows Someone from the Camp</th>
    <td mat-cell *matCellDef="let booking">
      {{
        getChild(booking.data.parentId, booking.data.childId)
          ?.knowsSomeoneFromTheCamp
      }}
    </td>
  </ng-container>

  <!-- Additional Personal Information Column -->
  <ng-container matColumnDef="additionalPersonalInformation">
    <th mat-header-cell *matHeaderCellDef>Additional Personal Information</th>
    <td mat-cell *matCellDef="let booking">
      {{
        getChild(booking.data.parentId, booking.data.childId)
          ?.additionalPersonalInformation
      }}
    </td>
  </ng-container>

  <!-- Parent Name Column -->
  <ng-container matColumnDef="parentName">
    <th mat-header-cell *matHeaderCellDef>Parent Name</th>
    <td mat-cell *matCellDef="let booking">
      {{ getParent(booking.data.parentId)?.name }}
    </td>
  </ng-container>

  <!-- Parent Email Column -->
  <ng-container matColumnDef="parentEmail">
    <th mat-header-cell *matHeaderCellDef>Parent Email</th>
    <td mat-cell *matCellDef="let booking">
      {{ getParent(booking.data.parentId)?.email }}
    </td>
  </ng-container>

  <!-- Parent Phone Column -->
  <ng-container matColumnDef="parentPhone">
    <th mat-header-cell *matHeaderCellDef>Parent Phone</th>
    <td mat-cell *matCellDef="let booking">
      {{ getParent(booking.data.parentId)?.phone }}
    </td>
  </ng-container>

  <!-- Address Column -->
  <ng-container matColumnDef="address">
    <th mat-header-cell *matHeaderCellDef>Address</th>
    <td mat-cell *matCellDef="let booking">
      {{ getParent(booking.data.parentId)?.address }}
    </td>
  </ng-container>

  <!-- Camp Type Column -->
  <ng-container matColumnDef="campType">
    <th mat-header-cell *matHeaderCellDef>Camp Type</th>
    <td mat-cell *matCellDef="let booking">{{ booking.data.campType }}</td>
  </ng-container>

  <!-- Payment Status Column -->
  <ng-container matColumnDef="paymentStatus">
    <th mat-header-cell *matHeaderCellDef>Payment Status</th>
    <td mat-cell *matCellDef="let booking">{{ booking.data.paymentStatus }}</td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
</table>
