<div class="center-content">
  <form (ngSubmit)="submit()" [formGroup]="form">
    <h2>Register</h2>
    <div>
      <p style="display: inline-block">Already have account?</p>
      <a routerLink="/sign-in">Sign in</a>
    </div>
    <mat-form-field appearance="outline">
      <mat-label>Email</mat-label>
      <input
        type="email"
        matInput
        formControlName="email"
        placeholder="Ex. pat@example.com"
      />
      <mat-error
        *ngIf="
          form.controls.email.hasError('email') &&
          !form.controls.email.hasError('required')
        "
      >
        Please enter a valid email address
      </mat-error>
      <mat-error *ngIf="form.controls.email.hasError('required')">
        Email is <strong>required</strong>
      </mat-error>
    </mat-form-field>
    <mat-form-field appearance="outline">
      <mat-label>Password</mat-label>
      <input
        matInput
        [type]="hidePassword ? 'password' : 'text'"
        formControlName="password"
      />
      <button
        mat-icon-button
        matSuffix
        type="button"
        (click)="hidePassword = !hidePassword"
      >
        <mat-icon>{{
          hidePassword ? "visibility_off" : "visibility"
        }}</mat-icon>
      </button>
      <mat-error
        *ngIf="
          form.controls.password.hasError('password') &&
          !form.controls.password.hasError('required')
        "
      >
        Use 6 or more characters
      </mat-error>
      <mat-error *ngIf="form.controls.password.hasError('required')">
        Password is <strong>required</strong>
      </mat-error>
    </mat-form-field>
    <mat-form-field appearance="outline">
      <mat-label>Confirm password</mat-label>
      <input
        matInput
        [type]="hidePassword ? 'password' : 'text'"
        formControlName="confirmPassword"
      />
      <button
        mat-icon-button
        matSuffix
        type="button"
        (click)="hidePassword = !hidePassword"
      >
        <mat-icon>{{
          hidePassword ? "visibility_off" : "visibility"
        }}</mat-icon>
      </button>
      <mat-error
        *ngIf="
          form.controls.confirmPassword.hasError('confirmPassword') &&
          !form.controls.confirmPassword.hasError('required')
        "
      >
        The passwords do not match. Try again!
      </mat-error>
      <mat-error *ngIf="form.controls.confirmPassword.hasError('required')">
        Confirm password is <strong>required</strong>
      </mat-error>
    </mat-form-field>
    <div *ngIf="createUserFailed">
      <p style="color: red">Account with such email already exists</p>
    </div>
    <button
      mat-stroked-button
      color="primary"
      type="submit"
      [disabled]="!form.valid"
    >
      Register
    </button>
  </form>
</div>
