<table mat-table [dataSource]="locations">
  <!-- Name Column -->
  <ng-container matColumnDef="name">
    <th mat-header-cell *matHeaderCellDef>Name</th>
    <td mat-cell *matCellDef="let location">{{ location.data.name }}</td>
  </ng-container>

  <!-- Latitude Column -->
  <ng-container matColumnDef="latitude">
    <th mat-header-cell *matHeaderCellDef>Latitude</th>
    <td mat-cell *matCellDef="let location">{{ location.data.latitude }}</td>
  </ng-container>

  <!-- Longitude Column -->
  <ng-container matColumnDef="longitude">
    <th mat-header-cell *matHeaderCellDef>Longitude</th>
    <td mat-cell *matCellDef="let location">{{ location.data.longitude }}</td>
  </ng-container>

  <!-- Actions Column -->
  <ng-container matColumnDef="actions">
    <th mat-header-cell *matHeaderCellDef>Actions</th>
    <td mat-cell *matCellDef="let location">
      <button mat-icon-button color="primary" (click)="edit(location)">
        <mat-icon>edit</mat-icon>
      </button>
      <button mat-icon-button color="warn" (click)="delete(location.id)">
        <mat-icon>delete</mat-icon>
      </button>
    </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
</table>
<button mat-mini-fab color="primary" class="fab" (click)="add()">
  <mat-icon>add</mat-icon>
</button>
