<h1 mat-dialog-title>
  {{location ? "Edit " + location.name : "Add location" }}
</h1>
<div mat-dialog-content>
  <form [formGroup]="form">
    <mat-form-field appearance="outline">
      <mat-label>Name</mat-label>
      <input matInput formControlName="name" />
      <mat-error *ngIf="form.controls.name.hasError('required')">
        Name is <strong>required</strong>
      </mat-error>
    </mat-form-field>
    <mat-form-field appearance="outline">
      <mat-label>Latitude</mat-label>
      <input
        matInput
        type="number"
        min="{{latitudeMin}}"
        max="{{latitudeMax}}"
        placeholder="0"
        formControlName="latitude"
      />
      <mat-error *ngIf="form.controls.latitude.hasError('required')">
        Latitude is <strong>required</strong>
      </mat-error>
      <mat-error *ngIf="form.controls.latitude.hasError('min')">
        Latitude must be <strong>at least {{latitudeMin}}</strong> degrees
      </mat-error>
      <mat-error *ngIf="form.controls.latitude.hasError('max')">
        Latitude must be <strong>at most {{latitudeMax}}</strong> degrees
      </mat-error>
    </mat-form-field>
    <mat-form-field appearance="outline">
      <mat-label>Longitude</mat-label>
      <input
        matInput
        type="number"
        min="{{longitudeMin}}"
        max="{{longitudeMax}}"
        placeholder="0"
        formControlName="longitude"
      />
      <mat-error *ngIf="form.controls.longitude.hasError('required')">
        Longitude is <strong>required</strong>
      </mat-error>
      <mat-error *ngIf="form.controls.longitude.hasError('min')">
        Longitude must be <strong>at least {{longitudeMin}}</strong> degrees
      </mat-error>
      <mat-error *ngIf="form.controls.longitude.hasError('max')">
        Longitude must be <strong>at most {{longitudeMax}}</strong> degrees
      </mat-error>
    </mat-form-field>
  </form>
</div>
<div mat-dialog-actions>
  <button mat-stroked-button color="primary" (click)="cancel()">Cancel</button>
  <button
    mat-flat-button
    color="primary"
    [mat-dialog-close]="form.getRawValue()"
    [disabled]="!form.valid"
  >
    Save
  </button>
</div>
