.center-content {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

form {
  width: min(500px, 100%);
  margin: 10px;
}

mat-form-field {
  width: inherit;
}

button {
  width: inherit;
}
