<div class="center-content">
  <form (ngSubmit)="submit()" [formGroup]="form">
    <h2>Sing in</h2>
    <div>
      <p style="display: inline-block">Don't have account?</p>
      <a routerLink="/register">Register</a>
    </div>
    <mat-form-field appearance="outline">
      <mat-label>Email</mat-label>
      <input
        type="email"
        matInput
        formControlName="email"
        placeholder="Ex. pat@example.com"
      />
      <mat-error
        *ngIf="
          form.controls.email.hasError('email') &&
          !form.controls.email.hasError('required')
        "
      >
        Please enter a valid email address
      </mat-error>
      <mat-error *ngIf="form.controls.email.hasError('required')">
        Email is <strong>required</strong>
      </mat-error>
    </mat-form-field>
    <mat-form-field appearance="outline">
      <mat-label>Password</mat-label>
      <input
        matInput
        [type]="hidePassword ? 'password' : 'text'"
        formControlName="password"
      />
      <button
        mat-icon-button
        matSuffix
        type="button"
        (click)="hidePassword = !hidePassword"
      >
        <mat-icon>{{
          hidePassword ? "visibility_off" : "visibility"
        }}</mat-icon>
      </button>
      <mat-error *ngIf="form.controls.password.hasError('required')">
        Password is <strong>required</strong>
      </mat-error>
    </mat-form-field>
    <div *ngIf="signInFailed">
      <p style="color: red">
        Account doesn't exsist or the passoword is invalid
      </p>
    </div>
    <button
      mat-stroked-button
      color="primary"
      type="submit"
      [disabled]="!form.valid"
    >
      Sign in
    </button>
  </form>
</div>
