.center-content {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: calc(100% - 64px);
}

form {
  width: min(500px, 100%);
  margin: 10px;
}

mat-form-field,
button {
  width: inherit;
}
