<div class="horizontal-center">
  <mat-card *ngFor="let session of sessions">
    <mat-card-title>
      {{ getLocation(session.data.locationId).name }}
    </mat-card-title>
    <mat-card-subtitle>
      {{
        (session.data.startDate | date) + " – " + (session.data.endDate | date)
      }}
    </mat-card-subtitle>
    <mat-card-content>
      <p>
        Price for Day Camp: {{ session.data.priceForDayCamp | currency: "HUF" }}
      </p>
      <p>
        Price for Overnight Camp:
        {{ session.data.priceForOvernightCamp | currency: "HUF" }}
      </p>
      <p>Advance: {{ session.data.advance | currency: "HUF" }}</p>
      <p>
        Sibling Discount: {{ session.data.siblingDiscount | currency: "HUF" }}
      </p>
    </mat-card-content>
    <mat-card-actions>
      <button mat-flat-button color="primary" routerLink="{{ session.id }}">
        <mat-icon>view_headline</mat-icon>
        Bookings
      </button>
      <button mat-stroked-button color="primary" (click)="edit(session)">
        <mat-icon>edit</mat-icon>
        Edit
      </button>
      <button mat-flat-button color="warn" (click)="delete(session.id)">
        <mat-icon>delete</mat-icon>
        Delete
      </button>
    </mat-card-actions>
  </mat-card>
</div>
<button mat-mini-fab color="primary" class="fab" (click)="add()">
  <mat-icon>add</mat-icon>
</button>
