<h1 mat-dialog-title>{{(session ? "Edit": "Add") + " session"}}</h1>
<div mat-dialog-content>
  <form [formGroup]="form">
    <mat-form-field appearance="outline">
      <mat-label>Location</mat-label>
      <mat-select formControlName="locationId" required>
        <mat-option *ngFor="let location of locations" [value]="location.id">
          {{location.data.name}}
        </mat-option>
      </mat-select>
      <mat-error *ngIf="form.controls.locationId.hasError('required')">
        Location is <strong>required</strong>
      </mat-error>
    </mat-form-field>
    <mat-form-field appearance="outline">
      <mat-label>Price for Day Camp</mat-label>
      <input
        matInput
        class="number-input"
        type="number"
        min="0"
        placeholder="0"
        formControlName="priceForDayCamp"
      />
      <mat-error *ngIf="form.controls.priceForDayCamp.hasError('required')">
        Price for Day Camp is <strong>required</strong>
      </mat-error>
      <mat-error *ngIf="form.controls.priceForDayCamp.hasError('min')">
        Price for Day Camp must be <strong>at least 0</strong>
      </mat-error>
    </mat-form-field>
    <mat-form-field appearance="outline">
      <mat-label>Price for Overnight Camp</mat-label>
      <input
        matInput
        class="number-input"
        type="number"
        min="0"
        placeholder="0"
        formControlName="priceForOvernightCamp"
      />
      <mat-error
        *ngIf="form.controls.priceForOvernightCamp.hasError('required')"
      >
        Price for Overnight Camp is <strong>required</strong>
      </mat-error>
      <mat-error *ngIf="form.controls.priceForOvernightCamp.hasError('min')">
        Price for Overnight Camp must be <strong>at least 0</strong>
      </mat-error>
    </mat-form-field>
    <mat-form-field appearance="outline">
      <mat-label>Advance</mat-label>
      <input
        matInput
        class="number-input"
        type="number"
        min="0"
        placeholder="0"
        formControlName="advance"
      />
      <mat-error *ngIf="form.controls.advance.hasError('required')">
        Advance is <strong>required</strong>
      </mat-error>
      <mat-error *ngIf="form.controls.advance.hasError('min')">
        Advance must be <strong>at least 0</strong>
      </mat-error>
    </mat-form-field>
    <mat-form-field appearance="outline">
      <mat-label>Sibling Discount</mat-label>
      <input
        matInput
        class="number-input"
        type="number"
        min="0"
        placeholder="0"
        formControlName="siblingDiscount"
      />
      <mat-error *ngIf="form.controls.siblingDiscount.hasError('required')">
        Sibling Discount is <strong>required</strong>
      </mat-error>
      <mat-error *ngIf="form.controls.siblingDiscount.hasError('min')">
        Sibling Discount must be <strong>at least 0</strong>
      </mat-error>
    </mat-form-field>
    <mat-form-field appearance="outline">
      <mat-label>Start and End Date</mat-label>
      <mat-date-range-input
        [formGroup]="form.controls.range"
        [rangePicker]="picker"
      >
        <input matStartDate formControlName="start" placeholder="Start date" />
        <input matEndDate formControlName="end" placeholder="End date" />
      </mat-date-range-input>
      <mat-hint>MM/DD/YYYY – MM/DD/YYYY</mat-hint>
      <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
      <mat-date-range-picker #picker></mat-date-range-picker>
      <mat-error
        *ngIf="form.controls.range.controls.start.hasError('matStartDateInvalid')"
        >Invalid start date</mat-error
      >
      <mat-error
        *ngIf="form.controls.range.controls.end.hasError('matEndDateInvalid')"
        >Invalid end date</mat-error
      >
    </mat-form-field>
  </form>
</div>
<div mat-dialog-actions>
  <button mat-stroked-button color="primary" (click)="cancel()">Cancel</button>
  <button
    mat-flat-button
    color="primary"
    (click)="save()"
    [disabled]="!form.valid"
  >
    Save
  </button>
</div>
